<table style='padding: 20px 16px; background-color: blue; color: azure;'>
  <tr>
    <td align='center'>
      <h2 style='padding: 8px; font-weight: 700; text-align: center;'>Click this
        button below to change your password. This will take you to a new page.
      </h2>
    </td>
  </tr>
  <tr>
    <td align='center'>
      <a
        href={{url}}
        style='width: 100%; padding: 14px 20px; 
      background-color: aliceblue; color:blue;'
      >
        Change your password
      </a>
    </td>
  </tr>
</table>